/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/guides/output/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
.rspec_status
.ruby-version
Gemfile.lock
.byebug_history
.idea/
*.swp
*.swo
*~
.DS_Store

# Private project docs
private/*.md
